<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.si.cond" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.GET_ACCOUNTS" />-->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="br.fa.primeadvisor.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="br.fa.primeadvisor.gcm.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWithoutActionBar"
            android:windowSoftInputMode="adjustNothing" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        </activity>
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TranslucentActionBar.ActionBar.Overlay" >
        </activity>

        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.os.maceiopass.app.gcm" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activities.CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.ReservasActivity"
            android:label="@string/title_activity_reservas"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.NovaReservaActivity"
            android:label="@string/title_activity_novo_agendamento"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".activities.MuralActivity"
            android:label="@string/title_activity_mural"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.ReivindicacoesActivity"
            android:label="@string/title_activity_reinvidicacoes"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.NovaReivindicacaoActivity"
            android:label="@string/title_activity_nova_reivindicacao"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.ReivindicacaoActivity"
            android:label="@string/title_activity_reivindicacao"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.MensagensActivity"
            android:label="@string/title_activity_mensagens"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarThemeWithoutSeparator" >
        </activity>
        <activity
            android:name=".activities.MensagemActivity"
            android:label="@string/title_activity_mensagem"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme" >
        </activity>
        <activity
            android:name=".activities.MainSindicoActivity"
            android:label="@string/title_activity_main_sindico" >
        </activity>
        <activity
            android:name=".activities.AlterarActivity"
            android:label="AlterarActivity" >
        </activity>
    </application>

</manifest>
